Repository AztecGameLab/LongTermGame6, pull requests merged in 2022-02, with the labels that each got.

#145 Raul well branch
  Assets/3D Assets/BucketLiftAnimation.meta
  Assets/3D Assets/BucketLiftAnimation/Bucket_Lift_animation.anim
  Assets/3D Assets/BucketLiftAnimation/Bucket_Lift_animation.anim.meta
  Assets/3D Assets/BucketLiftAnimation/Well_BucketLift.controller
  Assets/3D Assets/BucketLiftAnimation/Well_BucketLift.controller.meta
  Assets/Audio/Week 1 Demo Soundtracks/Undesired Discovery-Rei.wav.meta
  Assets/Github Tutorial Assets/Ajhel Sign Up.txt.meta
  Assets/Github Tutorial Assets/James Sign Up.txt.meta
  Assets/Github Tutorial Assets/Rei Doc.txt.meta
  Assets/Scenes/Raul_StreetLevel.unity
  Assets/Scenes/Raul_StreetLevel.unity.meta
  Assets/Scripts/Interaction/BucketKeyLift.cs
  Assets/Scripts/Interaction/BucketKeyLift.cs.meta
  Assets/Scripts/Interaction/Well_Lid_Open.cs
  Assets/Scripts/Interaction/Well_Lid_Open.cs.meta
Labels: enhancement, Programming, Level Design

#157 Added unlocked central hub gates and organized the hierarchy
  Assets/Plugins/FMOD/Resources/FMODStudioSettings.asset
  Assets/Scenes/StreetLevel.unity
  Assets/Scenes/StreetLevel/NavMesh.asset
  ProjectSettings/Packages/com.unity.probuilder/Settings.json
Labels: documentation, Level Design

#159 Animal pen lock and key
  Assets/Game/Player/Animations/IdlePigFloat.anim
  Assets/Game/Player/Animations/IdlePigFloat.anim.meta
  Assets/Game/Player/Animations/UnlockPig.anim
  Assets/Game/Player/Animations/UnlockPig.anim.meta
  Assets/Game/Player/Animations/UnlockPig.controller
  Assets/Game/Player/Animations/UnlockPig.controller.meta
  Assets/Scenes/AnimalPen_Andres.unity
  Assets/Scenes/AnimalPen_Andres.unity.meta
  Assets/Scripts/Interaction/AnimalPen.cs
  Assets/Scripts/Interaction/AnimalPen.cs.meta
Labels: enhancement, Level Design

#161 Added Invisible walls to Gallows area (Mattarr_StreetLevel)
  Assets/Scenes/Mattarr_StreetLevel.unity
  Assets/Scenes/Mattarr_StreetLevel.unity.meta
Labels: Level Design

#160 Created enemy routes for EnemyRightTutorial and EnemyButcher in DomStreetLevel
  Assets/Scenes/DomStreetLevel.unity
  Assets/Scenes/DomStreetLevel.unity.meta
Labels: Level Design

#189 Adding Market Stall Textures + a barrel asset + materials
  Assets/3D Assets/World Assets/MarketStall/Cloth.mat
  Assets/3D Assets/World Assets/MarketStall/Cloth.mat.meta
  Assets/3D Assets/World Assets/MarketStall/MarketStall_stall_fabric_AlbedoTransparency_sRGB.png
  Assets/3D Assets/World Assets/MarketStall/MarketStall_stall_fabric_AlbedoTransparency_sRGB.png.meta
  Assets/3D Assets/World Assets/MarketStall/MarketStall_stall_fabric_MetallicSmoothness_Raw.png
  Assets/3D Assets/World Assets/MarketStall/MarketStall_stall_fabric_MetallicSmoothness_Raw.png.meta
  Assets/3D Assets/World Assets/MarketStall/MarketStall_stall_fabric_Normal_Raw.png
  Assets/3D Assets/World Assets/MarketStall/MarketStall_stall_fabric_Normal_Raw.png.meta
  Assets/3D Assets/World Assets/MarketStall/MarketStall_stall_framing_AlbedoTransparency_sRGB.png
  Assets/3D Assets/World Assets/MarketStall/MarketStall_stall_framing_AlbedoTransparency_sRGB.png.meta
  Assets/3D Assets/World Assets/MarketStall/MarketStall_stall_framing_MetallicSmoothness_Raw.png
  Assets/3D Assets/World Assets/MarketStall/MarketStall_stall_framing_MetallicSmoothness_Raw.png.meta
  Assets/3D Assets/World Assets/MarketStall/MarketStall_stall_framing_Normal_Raw.png
  Assets/3D Assets/World Assets/MarketStall/MarketStall_stall_framing_Normal_Raw.png.meta
  Assets/3D Assets/World Assets/MarketStall/MarketStall_stall_table_AlbedoTransparency_sRGB.png
  Assets/3D Assets/World Assets/MarketStall/MarketStall_stall_table_AlbedoTransparency_sRGB.png.meta
  Assets/3D Assets/World Assets/MarketStall/MarketStall_stall_table_MetallicSmoothness_Raw.png
  Assets/3D Assets/World Assets/MarketStall/MarketStall_stall_table_MetallicSmoothness_Raw.png.meta
  Assets/3D Assets/World Assets/MarketStall/MarketStall_stall_table_Normal_Raw.png
  Assets/3D Assets/World Assets/MarketStall/MarketStall_stall_table_Normal_Raw.png.meta
  Assets/3D Assets/World Assets/MarketStall/Stall_Table.mat
  Assets/3D Assets/World Assets/MarketStall/Stall_Table.mat.meta
  Assets/3D Assets/World Assets/MarketStall/stall_framing.mat
  Assets/3D Assets/World Assets/MarketStall/stall_framing.mat.meta
  Assets/3D Assets/World Assets/openable Barrel.meta
  Assets/3D Assets/World Assets/openable Barrel/Openable Barrel.fbx
  Assets/3D Assets/World Assets/openable Barrel/Openable Barrel.fbx.meta
  Assets/3D Assets/World Assets/openable Barrel/Openable Barrel_Material.001_AlbedoTransparency_sRGB.png
  Assets/3D Assets/World Assets/openable Barrel/Openable Barrel_Material.001_AlbedoTransparency_sRGB.png.meta
  Assets/3D Assets/World Assets/openable Barrel/Openable Barrel_Material.001_MetallicSmoothness_Raw.png
  Assets/3D Assets/World Assets/openable Barrel/Openable Barrel_Material.001_MetallicSmoothness_Raw.png.meta
  Assets/3D Assets/World Assets/openable Barrel/Openable Barrel_Material.001_Normal_Raw.png
  Assets/3D Assets/World Assets/openable Barrel/Openable Barrel_Material.001_Normal_Raw.png.meta
  Assets/3D Assets/World Assets/openable Barrel/Openable Barrel_Openable_Barrel_AlbedoTransparency_sRGB.png
  Assets/3D Assets/World Assets/openable Barrel/Openable Barrel_Openable_Barrel_AlbedoTransparency_sRGB.png.meta
  Assets/3D Assets/World Assets/openable Barrel/Openable Barrel_Openable_Barrel_MetallicSmoothness_Raw.png
  Assets/3D Assets/World Assets/openable Barrel/Openable Barrel_Openable_Barrel_MetallicSmoothness_Raw.png.meta
  Assets/3D Assets/World Assets/openable Barrel/Openable Barrel_Openable_Barrel_Normal_Raw.png
  Assets/3D Assets/World Assets/openable Barrel/Openable Barrel_Openable_Barrel_Normal_Raw.png.meta
  Assets/3D Assets/World Assets/openable Barrel/openable barrel metal.mat
  Assets/3D Assets/World Assets/openable Barrel/openable barrel metal.mat.meta
  Assets/3D Assets/World Assets/openable Barrel/openable barrel wood.mat
  Assets/3D Assets/World Assets/openable Barrel/openable barrel wood.mat.meta
  Assets/Graphics/Materials/Cobblestone_Material_01.sbsar
  Assets/Graphics/Materials/Cobblestone_Material_01.sbsar.meta
  Assets/Prefabs/3D Assets/World Assets/Barrel.prefab
  Assets/Prefabs/3D Assets/World Assets/Barrel.prefab.meta
  Assets/Prefabs/3D Assets/World Assets/HayBale.prefab
  Assets/Prefabs/3D Assets/World Assets/HayBale.prefab.meta
  Assets/Prefabs/3D Assets/World Assets/MarketStall.prefab
  Assets/Prefabs/3D Assets/World Assets/MarketStall.prefab.meta
  Assets/Scenes/LizStreetLevelCpy.unity
Labels: Art

#184 Made Invisible Walls for Butcher Area
  Assets/Scenes/MattWantStreet.unity
  Assets/Scenes/MattWantStreet.unity.meta
Labels: Level Design

#183 fixed the well bug
  Assets/2D Assets/Concept_Art/Infected-Townspeople-Concept-Art.png.meta
  Assets/3D Assets/BucketLiftAnimation/Bucket_Lift_animation.anim
  Assets/Plugins/FMOD/Resources/FMODStudioSettings.asset
  Assets/Scenes/Raul_StreetLevel.unity
  Assets/Scenes/Raul_StreetLevel.unity.meta
  ProjectSettings/Packages/com.unity.probuilder/Settings.json
Labels: Level Design

#185 Player death/respawn
  Assets/Death Started.signal
  Assets/Death Started.signal.meta
  Assets/Game/Player/Animations/Death Effect Timeline.playable
  Assets/Game/Player/Animations/Death Effect Timeline.playable.meta
  Assets/Game/Player/Animations/Death Finished.signal
  Assets/Game/Player/Animations/Death Finished.signal.meta
  Assets/Game/Player/Player Prefab.prefab
  Assets/Game/Player/Scripts/InputCrouchController.cs
  Assets/Game/Player/Scripts/InputInteractionController.cs
  Assets/Game/Player/Scripts/InputJumpingController.cs
  Assets/Game/Player/Scripts/InputLeanController.cs
  Assets/Game/Player/Scripts/InputMovementController.cs
  Assets/Game/Player/Scripts/InputSprintController.cs
  Assets/Plugins/FMOD/Resources/FMODStudioSettings.asset
  Assets/Scenes/Respawn_PlayerDeath.unity
  Assets/Scenes/Respawn_PlayerDeath.unity.meta
  Assets/Scripts/Health.cs
  Assets/Scripts/UI/PlayerDeath.meta
  Assets/Scripts/UI/PlayerDeath/Dead(TMP).controller
  Assets/Scripts/UI/PlayerDeath/Dead(TMP).controller.meta
  Assets/Scripts/UI/PlayerDeath/FadeInText.anim
  Assets/Scripts/UI/PlayerDeath/FadeInText.anim.meta
  Assets/Scripts/UI/PlayerDeath/Idle.anim
  Assets/Scripts/UI/PlayerDeath/Idle.anim.meta
  Assets/Scripts/UI/PlayerDeath/Panel.controller
  Assets/Scripts/UI/PlayerDeath/Panel.controller.meta
  Assets/Scripts/UI/PlayerDeath/RespawnPosition.cs
  Assets/Scripts/UI/PlayerDeath/RespawnPosition.cs.meta
  Assets/Scripts/Utility/SceneLoader.cs
  Assets/Scripts/Utility/SceneLoader.cs.meta
  ProjectSettings/EditorBuildSettings.asset
Labels: Programming

#147 Invisible Barriers in Tower Area
  Assets/Scenes/AlyssaStreetLevel1 1.unity
  Assets/Scenes/AlyssaStreetLevel1 1.unity.meta
  Assets/Scenes/StreetLevel 1.unity
  Assets/Scenes/StreetLevel 1.unity.meta
  ProjectSettings/Packages/com.unity.probuilder/Settings.json
Labels: good first issue, Level Design
